@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Bold.woff2") format("woff2"), url("fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-SemiBold.woff2") format("woff2"), url("fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Medium.woff2") format("woff2"), url("fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Regular.woff2") format("woff2"), url("fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*, *::before, *::after {
  box-sizing: inherit;
  text-decoration-skip-ink: none;
}
@-ms-viewport {
  width: device-width;
}
article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}
body {
  margin: 0;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
  color: #000;
  background-color: #fafafa;
}
[tabindex="-1"]:focus {
  outline: none !important;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
abbr[title], abbr[data-original-title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
}
address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}
ol, ul, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}
ol ol, ul ul, ol ul, ul ol {
  margin-bottom: 0;
}
dt {
  font-weight: 700;
}
dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}
blockquote {
  margin: 0 0 1rem;
}
dfn {
  font-style: italic;
}
b, strong {
  font-weight: bolder;
}
small {
  font-size: 80%;
}
sub, sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
a {
  color: #151515;
  text-decoration: underline;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  transition: none;
}
a:hover {
  color: #151515;
  text-decoration: none;
}
a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}
a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none;
}
a:not([href]):not([tabindex]):focus {
  outline: 0;
}
a:focus {
  outline: none;
}
pre, code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
}
figure {
  margin: 0 0 1rem;
}
img {
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
  height: auto;
}
svg:not(:root) {
  overflow: hidden;
}
a, area, button, [role="button"], input, label, select, summary, textarea {
  touch-action: manipulation;
}
table {
  border-collapse: collapse;
}
caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #222;
  text-align: left;
  caption-side: bottom;
}
th {
  text-align: left;
}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
}
button:focus {
  outline: none;
}
input, button, select, optgroup, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  transition: none;
  outline: none;
}
button, input {
  overflow: visible;
}
button, select {
  text-transform: none;
}
button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
input[type="radio"], input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="date"], input[type="time"], input[type="datetime-local"], input[type="month"] {
  -webkit-appearance: listbox;
}
textarea {
  overflow: auto;
  resize: vertical;
}
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}
[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}
output {
  display: inline-block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none !important;
}
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 992px) {
  .container {
    max-width: 990px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
@media (min-width: 1360px) {
  .container {
    max-width: 1310px;
  }
}
@media (max-width: 375px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.header {
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #fff;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.04);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 900;
}
.header__container {
  display: flex;
  align-items: center;
  gap: 16px;
}
.header__logo {
  display: block;
  text-decoration: none;
  margin-right: auto;
}
.header__logo svg {
  display: block;
  width: 113px;
  height: 24px;
}
.header__search-toggle {
  background: none;
  width: 24px;
  height: 24px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.header__search-form {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 910;
  padding: 8px 15px;
  background-color: #fff;
}
.search-opened .header__search-form {
  display: block;
}
.header__favorite {
  position: relative;
  display: block;
  text-decoration: none;
  width: 24px;
  height: 24px;
}
.header__favorite svg {
  display: block;
  width: 24px;
  height: 24px;
}
.header__favorite-count {
  position: absolute;
  top: 0;
  right: -3px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #d6d6d6;
  font-weight: 600;
  font-size: 8px;
  line-height: 12px;
  text-align: center;
  color: #151515;
}
.header__cart {
  position: relative;
}
.header__cart-icon {
  display: block;
  text-decoration: none;
  width: 24px;
  height: 24px;
  position: relative;
}
.header__cart-icon svg {
  display: block;
  width: 24px;
  height: 24px;
}
.header__cart-count {
  position: absolute;
  top: 0;
  right: -3px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #d6d6d6;
  font-weight: 600;
  font-size: 8px;
  line-height: 12px;
  text-align: center;
  color: #151515;
}
.header__menu {
  background: none;
  width: 24px;
  height: 24px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.search-opened {
  overflow: hidden;
}
.search-overlay {
  background: rgba(21, 21, 21, 0.3);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 890;
}
.mobile-panel {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 920;
  width: 250px;
  background-color: #fff;
  box-shadow: 0 4px 4px -4px rgba(12, 12, 13, 0.05), 0 16px 32px -4px rgba(12, 12, 13, 0.1);
  padding: 10px;
  overflow: hidden;
  overflow-y: auto;
}
.menu-opened .mobile-panel {
  display: block;
}
.mobile-panel__close {
  display: block;
  margin-left: auto;
  border-radius: 6px;
  padding: 0;
  width: 32px;
  height: 32px;
  background: #ededed url(../images/close.svg) center center / 12px 12px no-repeat;
  border: none;
  margin-bottom: 10px;
}
.mobile-panel__catalog-open {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #151515;
  border-radius: 6px;
  border: none;
  width: 100%;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #fff;
  text-decoration: none;
}
.mobile-panel__catalog-open:before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 12px;
  background: url(../images/btn-catalog.svg) center center / 16px 16px no-repeat;
}
.mobile-panel_catalog-opened .mobile-panel__catalog-open {
  display: none;
}
.mobile-panel__catalog-close {
  display: none;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  text-align: left;
  color: #7f7f7f;
  padding: 12px 0;
  border: none;
  background: none;
  width: 100%;
}
.mobile-panel_catalog-opened .mobile-panel__catalog-close {
  display: block;
}
.mobile-panel__catalog-nav {
  display: none;
}
.mobile-panel_catalog-opened .mobile-panel__catalog-nav {
  display: block;
}
.mobile-panel__catalog-link {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #151515;
  text-decoration: none;
  padding: 10px 12px;
  background-color: #ededed;
  margin-bottom: 1px;
}
.mobile-panel__catalog-link:hover {
  color: #151515;
  text-decoration: none;
}
.mobile-panel__catalog-link:active {
  background-color: #fff;
}
.mobile-panel__catalog-icon {
  display: block;
  flex: 0 0 16px;
  margin-right: 8px;
}
.mobile-panel_catalog-opened .mobile-panel__main {
  display: none;
}
.mobile-panel__nav-link {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #7f7f7f;
  border-bottom: 1px solid #ededed;
  padding: 12px;
  text-decoration: none;
}
.mobile-panel__nav-link:hover {
  background-color: #ededed;
}
.mobile-panel__phones {
  padding: 32px 12px 12px 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
.mobile-panel__phone {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #151515;
  text-decoration: none;
}
.mobile-panel__phone:hover {
  color: #151515;
  text-decoration: none;
}
.mobile-panel__working-hours {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #151515;
  padding: 12px 12px 12px 32px;
  background: url(../images/working-hours.svg) 12px center / 16px 16px no-repeat;
}
.mobile-panel__messengers {
  display: flex;
  gap: 4px;
  padding: 12px;
}
.mobile-panel__messenger {
  display: block;
  text-decoration: none;
  border: 1px solid #ededed;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center center;
}
.mobile-panel__messenger_viber {
  background-image: url(../images/viber-black.svg);
}
.mobile-panel__messenger_telegram {
  background-image: url(../images/telegram-black.svg);
}
.mobile-panel__messenger:hover {
  background-color: #ededed;
}
.menu-opened {
  overflow: hidden;
}
.menu-overlay {
  background: rgba(21, 21, 21, 0.3);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 910;
}
.search-form {
  display: flex;
  position: relative;
}
.search-form__control {
  display: block;
  border: 1px solid #ededed;
  border-radius: 6px;
  padding: 11px 16px;
  width: 100%;
  height: 40px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #151515;
}
.search-form__control::-webkit-input-placeholder {
  color: #7f7f7f;
  opacity: 1;
}
.search-form__control::placeholder {
  color: #7f7f7f;
  opacity: 1;
}
.search-form__btn {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  border-radius: 0 6px 6px 0;
  border: none;
  background: #151515 url(../images/search.svg) center center / 14px 14px no-repeat;
}
.search-form__btn:hover {
  background-color: #000;
}
.footer {
  background: #151515;
}
.footer__main {
  display: flex;
  gap: 16px;
  padding: 32px 0;
}
@media (max-width: 767px) {
  .footer__main {
    display: block;
  }
}
.footer__widget {
  flex: 1;
}
.footer__widget_legal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
@media (max-width: 767px) {
  .footer__widget {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    padding-bottom: 32px;
    margin-bottom: 32px;
  }
  .footer__widget_legal {
    align-items: center;
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
.footer__title {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  margin-bottom: 32px;
}
@media (max-width: 767px) {
  .footer__title {
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 16px;
  }
}
.footer__nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
@media (max-width: 767px) {
  .footer__nav {
    gap: 12px;
  }
  .footer__nav_legal {
    align-items: center;
    margin-bottom: 16px;
  }
}
.footer__nav-link {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  text-decoration: none;
}
@media (max-width: 767px) {
  .footer__nav-link {
    font-size: 12px;
    line-height: 16px;
  }
}
.footer__nav-link:hover {
  color: #fff;
  text-decoration: underline;
}
.footer__nav_legal .footer__nav-link {
  color: #646464;
}
.footer__nav_legal .footer__nav-link:hover {
  color: #646464;
}
.footer__contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
@media (max-width: 767px) {
  .footer__contact {
    gap: 12px;
  }
}
.footer__phones {
  padding-left: 28px;
  background: url(../images/phone-white.svg) 0 center / 20px 20px no-repeat;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
.footer__phone {
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
}
.footer__phone:hover {
  color: #fff;
  text-decoration: none;
}
@media (max-width: 767px) {
  .footer__phone {
    font-size: 12px;
    line-height: 16px;
  }
}
.footer__email {
  padding-left: 28px;
  padding-top: 1px;
  padding-bottom: 1px;
  background: url(../images/email-white.svg) 0 center / 20px 20px no-repeat;
  display: flex;
}
.footer__email-link {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  text-decoration: none;
}
.footer__email-link:hover {
  color: #fff;
  text-decoration: underline;
}
@media (max-width: 767px) {
  .footer__email-link {
    font-size: 12px;
    line-height: 16px;
  }
}
.footer__address {
  padding-left: 28px;
  background: url(../images/address-white.svg) 0 center / 20px 20px no-repeat;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}
.footer__address b {
  font-weight: 600;
}
@media (max-width: 767px) {
  .footer__address {
    font-size: 12px;
    line-height: 16px;
  }
}
.footer__telegram {
  display: block;
  padding: 1px 0 1px 28px;
  background: url(../images/telegram-blue.svg) 0 center / 20px 20px no-repeat;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #609cf5;
  text-decoration: none;
}
.footer__telegram:hover {
  color: #609cf5;
  text-decoration: underline;
}
@media (max-width: 767px) {
  .footer__telegram {
    font-size: 12px;
    line-height: 16px;
  }
}
.footer__viber {
  display: block;
  padding: 1px 0 1px 28px;
  background: url(../images/viber-purple.svg) 0 center / 20px 20px no-repeat;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #9138d7;
  text-decoration: none;
}
.footer__viber:hover {
  color: #9138d7;
  text-decoration: underline;
}
@media (max-width: 767px) {
  .footer__viber {
    font-size: 12px;
    line-height: 16px;
  }
}
.footer__youtube {
  display: block;
  padding: 1px 0 1px 28px;
  background: url(../images/youtube-red.svg) 0 center / 20px 20px no-repeat;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #f00;
  text-decoration: none;
}
.footer__youtube:hover {
  color: #f00;
  text-decoration: underline;
}
@media (max-width: 767px) {
  .footer__youtube {
    font-size: 12px;
    line-height: 16px;
  }
}
.footer__pay {
  display: flex;
  gap: 4px;
  margin-top: auto;
}
.footer__owner {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #646464;
  padding: 1px 0;
}
@media (max-width: 767px) {
  .footer__owner {
    font-size: 12px;
    line-height: 16px;
  }
}
.footer__copyright {
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #fff;
  padding: 24px 0;
}
@media (max-width: 767px) {
  .footer__copyright {
    font-size: 12px;
    line-height: 16px;
  }
}
