<form action="{{ action }}" method="post" class="search-form">
	<input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="search-form__control">
	<button type="submit" class="search-form__btn"></button>
</form>
