{% if products %}
  <div class="related">
    <div class="related__heading heading">{{ text_related }}</div>
    <div class="related__list product-list">
      {% for product in products %}
        <div class="product-list__item">{{ product }}</div>
      {% endfor %}
    </div>
  </div>
{% endif %}