<div class="featured">
    <div class="featured__heading heading">{{ heading_title }}</div>
    <div class="featured__list product-list">
      {% for product in products %}
        <div class="featured__item product-list__item">{{ product }}</div>
      {% endfor %}
    </div>
</div>
