.heading {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.41666667;
    color: #151515;
    margin: 0;

    @media (max-width: 991px) {
        font-size: 20px;
    }
}

.text {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #646464;

    &__heading {
        margin-bottom: 24px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 600;
        line-height: 1.33333333;
        color: #151515;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 16px;
    }

    h4 {
        font-size: 14px;
    }

    h5 {
        font-size: 13px;
    }

    h6 {
        font-size: 12px;
    }
}