.wishlist {
    &__heading {
        margin-bottom: 24px;
    }

    &__products {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;

        @media (max-width: 767px) {
            gap: 8px;
        }
    }

    &__product {
        position: relative;
        box-shadow: 0 4px 4px -4px rgba(12, 12, 13, 0.05), 0 16px 32px -4px rgba(12, 12, 13, 0.1);
        background-color: #fff;
        border-radius: 12px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        width: calc((100% - 48px) / 4);

        @media (max-width: 1199px) {
            width: calc((100% - 32px) / 3);
        }

        @media (max-width: 767px) {
            width: calc((100% - 8px) / 2);
        }

        @media (max-width: 575px) {
            width: 100%;
        }

        &-group {
            display: flex;
            flex-direction: column;
            flex-basis: 0;
            flex-grow: 1;

            @media (max-width: 575px) {
                flex-direction: row;
                padding: 16px 16px 0 16px;
            }
        }

        &-img {
            display: block;
            position: relative;

            @media (max-width: 575px) {
                flex: 0 0 72px;

                img {
                    display: block;
                    border-radius: 8px;
                }
            }
        }

        &-inner {
            flex-basis: 0;
            flex-grow: 1;
            padding: 16px 16px 0 16px;
            border-top: 1px solid #ededed;
            display: flex;
            flex-direction: column;

            @media (max-width: 575px) {
                padding: 0 0 0 8px;
                border-top: none;
            }
        }

        &-title {
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            color: #151515;
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            margin-bottom: 8px;

            @media (max-width: 575px) {
                font-size: 12px;
                line-height: 16px;
                -webkit-line-clamp: 2;
            }

            &-link {
                color: #151515;
                text-decoration: none;

                &:hover {
                    color: #151515;
                    text-decoration: underline;
                }
            }
        }

        &-stock {
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            margin-bottom: 16px;

            @media (max-width: 575px) {
                font-size: 10px;
                line-height: 14px;
                margin-bottom: 8px;
            }

            &_yes {
                color: #3fc600;
            }

            &_no {
                color: #ea4335;
            }
        }

        &-price {
            margin-top: auto;
            margin-bottom: 8px;

            &-old {
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
                color: #c5c5c5;
                text-decoration: line-through;
                margin-bottom: 2px;

                @media (max-width: 575px) {
                    font-size: 10px;
                    line-height: 14px;
                }
            }

            &-current {
                font-weight: 600;
                font-size: 18px;
                line-height: 24px;
                color: #151515;

                @media (max-width: 575px) {
                    font-size: 16px;
                    line-height: 22px;
                }
            }
        }

        &-action {
            display: flex;
            gap: 8px;
            padding: 0 16px 16px 16px;
        }

        &-add {
            display: flex;
            align-items: center;
            justify-content: center;
            background: #151515;
            border-radius: 8px;
            border: none;
            padding: 19px 16px;
            font-weight: 600;
            font-size: 14px;
            line-height: 18px;
            text-align: center;
            color: #fff;
            text-decoration: none;
            flex-basis: 0;
            flex-grow: 1;

            &:hover {
                background-color: #000;
            }

            @media (max-width: 575px) {
                padding: 10px;
                font-size: 12px;
                line-height: 16px;
            }
        }

        &-expected {
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgba(21, 21, 21, 0.3);
            border-radius: 8px;
            border: none;
            padding: 19px 16px;
            font-weight: 600;
            font-size: 14px;
            line-height: 18px;
            text-align: center;
            color: #fff;
            text-decoration: none;
            flex-basis: 0;
            flex-grow: 1;
            cursor: not-allowed;

            @media (max-width: 575px) {
                padding: 14px;
                font-size: 12px;
                line-height: 16px;
            }
        }

        &-remove {
            display: block;
            border: 1px solid #151515;
            border-radius: 8px;
            padding: 0;
            width: 56px;
            height: 56px;
            flex: 0 0 56px;
            background: #fff url(../images/remove.svg) center center / 24px 24px no-repeat;

            &:hover {
                background-color: #ededed;
                border-color: #ededed;
            }

            @media (max-width: 575px) {
                width: 48px;
                height: 48px;
                flex: 0 0 48px;
            }
        }
    }
}